.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.posts-expand .post-body .fancybox img {
  margin: 0 auto 25px;
}

.fancybox-close,
.fancybox-close:hover {
  border: none;
}

.full-image.full-image.full-image.full-image {
  border: none;
  max-width: 100%;
  width: auto;
  margin: 20px auto 25px;
}

@media (min-width: 992px) {
  .full-image.full-image.full-image.full-image {
    max-width: none;
    width: 118%;
    margin: 0 -9%;
  }
}

.post-body .image-caption,
.post-body .figure .caption {
  margin: -20px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
}
